*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
#nav{
    background-color: #444444;
    color: #ffff00;
    display: flex;
    justify-content: flex-end;
    gap:1.5rem;
}

ul{
    display: flex;
    justify-content: flex-end;
    gap:1.5rem;
    list-style-type:none;
    margin:1.5rem;
    padding:0;
}